{% extends "base.html" %}

{% block body %}
   <a href="{% url 'horse:index' %}">一覧画面へ</a>
    <form action="" method="post">
        {{ form.errors.message }}
        <label>{{ form.bamei.label }}{{ form.bamei }}</label><br/>
        <label>{{ form.barei.label }}{{ form.barei }}</label><br/>
        <label>{{ form.class_cd.label }}{{ form.class_cd }}</label><br/>
        {% csrf_token %}
        <input type="submit" value="登録">
    </form>
{% endblock %}