{% extends "base.html" %}

{% block body %}
  <a href="{% url 'horse:add' %}">登録画面へ</a>{# 追加する #}
  <form method="post" action="{% url 'horse:delete' %}">
    <table border="1">
      <thead>
        <tr>
          <th>　</th>
          <th>horse</th>
          <th>barei</th>
          <th>class_cd</th>
          <th>created_at</th>
          <th>updated_at</th>
          <th>　</th>
        </tr>
      </thead>
      <tbody>
        {% for horse in horses %}
          <tr>
          	<td><input type="checkbox" name="delete_ids" value="{{ horse.id }}"></td>
            <td>{{ horse.bamei }}</td>
            <td>{{ horse.barei }}</td>
            <td>{{ horse.class_cd }}</td>
            <td>{{ horse.created_at }}</td>
            <td>{{ horse.updated_at }}</td>
            <td><a href="{% url 'horse:edit' horse.id %}">更新</a></td>            
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% csrf_token %}
    <input type="submit" value="削除">
  </form>
{% endblock %}